.index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  .content {
    flex: 1;
  }
  .bottom-btn {
    width: 100%;
  }
  .title {
    border-bottom: 1px solid #eee;
    margin: 20px;
  }
  .type {
    margin: 20px;
    text-align: center;
    display: flex;
    >label {
      flex: 1;
    }
  }
  .content {
    padding: 30px;
  }
  .contentText {
    border: 1px solid #eee;
    width: 100%;
    min-height: 700px;
    margin-top: 50px;
  }
}